<section class="menu">
{% if current_user.is_authenticated %}
<a href="{{ url_for('poste.list') }}">Lister les postes</a> -
{% if not current_user.visitor %}<a href="{{ url_for('poste.add') }}">Ajouter un poste</a> - {% endif %}
{% if current_user.admin %}
<a href="{{ url_for('poste.list') }}">Gestion des utilisateurs</a> -
<a href="{{ url_for('poste.list') }}">Gestion des paramètres</a> -
{% endif %}
{% if not current_user.visitor %}
<a href="{{ url_for('user.profile') }}">Profil</a> -
<a href="{{ url_for('core.help') }}">Aide</a> -
{% endif %}
<a href="{{ url_for('user.logout') }}">Déconnexion</a>
{% endif %}
</section>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <section class="flashes">
    {% for message in messages %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
    </section>
  {% endif %}
{% endwith %}
