{% extends 'base.html' %}
{% block content %}
<h1>Aide</h1>

<div id="table_des_matieres">
<h3>Table des matières</h3>
<ul>
<li><a href="#general">Gestion générale</a></li>
<li><a href="#liste_postes">Lister les postes</a></li>
<li><a href="#ajouter_poste">Ajouter un poste</a></li>
<li><a href="#profil">Profil</a></li>
<li><a href="#onglet_manifestation">Onglet manifestation</a></li>
<li><a href="#onglet_organisateur">Onglet organisateur</a></li>
<li><a href="#onglet_dimensionnement">Onglet dimensionnement</a></li>
<li><a href="#onglet_facturation">Onglet facturation</a></li>
<li><a href="#onglet_statut">Onglet statut</a></li>
<li><a href="#onglet_fichiers">Onglet fichiers</a></li>
<li><a href="#contact">Contact</a></li>
</ul>
</div>

<a name="general"><h2>Gestion générale</h2></a>
<div class="helper">
<p>L'application "secours" sert à gérer l'administratif des postes de secours reçus et traités par le Responsable des Postes de Secours local. Elle permet de créer un poste, de le gérer dans la durée, puis de le clore.</p>
</div>

<a name="lister_postes"><h2>Lister les postes</h2></a>
<div class="helper">
<p>Cet écran permet de lister et de filtrer les postes de l'Unité Locale. On peut également les trier en cliquant sur les titres des colonnes.</p>
<p>Le tri s'effectue en rentrant des caractères dans la zone de recherche, puis en cliquant sur le bouton <b>Filtrer</b>. Le filtre est fait sur le nom de la manifestation, sur le nom de l'organisateur, ainsi que sur la ville où a lieu la manifestation.</p>
<p>Le sélecteur permet de filtrer les postes par rapport à leur statut : Ouvert, Fermé, Annulé, ou bien tous les statuts.</p>
</div>

<a name="ajouter_poste"><h2>Ajouter un poste</h2></a>
<div class="helper">
<p>Les deux informations les plus importantes à la création d'un poste sont :</p>
<ul>
<li>le nom de la manifestation</li>
<li>La date de la manifestation</li>
</ul>
<p>Les onglets présents sont :</p>
<ul>
<li><b>Manifestation</b> : cet onglet regroupe les informations liées à la manifestation elle-même</li>
<li><b>Organisateur</b> : cet onglet regroupe les informations liées à l'organisateur de la manifestation</li>
<li><b>Dimensionnement</b> : cet onglet regroupe les informations liées au dimensionnement du poste de secours</li>
<li><b>Facturation</b> : cet onglet permet de générer la facture du poste</li>
<li><b>Statut</b> : cet onglet permet de gérer le statut du poste tout au long de sa durée de vie</li>
<li><b>Fichiers</b> : cet onglet permet de générer et télécharger les fichiers liés au poste</li>
</ul>
</div>

<a name="profil"><h2>Profil</h2></a>
<div class="helper">
<p>Cet écran est très important car il permet de paramétrer l'ensemble de l'application pour le Responsable des Postes.</p>
<p>Son but est de fournir toutes les informations communes à tous les postes : les informations de l'Unité Locale.</p>
<p>Il permet aussi de modifier son mot de passe.</p>
</div>

<a name="onglet_manifestation"><h2>Onglet Manifestation</h2></a>
<div class="helper">
<p>Cet onglet permet de noter rapidement les premières informations de la manifestation. La date principale permet de s'y retrouver plus facilement pour la recherche dans la liste des postes.</p>
</div>

<a name="onglet_organisateur"><h2>Onglet Organisateur</h2></a>
<div class="helper">
<p>Cet onglet permet de noter les informations de l'organisateur, un point de contact ainsi que le représentant légal de la manifestation.</p>
</div>

<a name="onglet_dimensionnement"><h2>Onglet Dimensionnement</h2></a>
<div class="helper">
<p>Cet onglet permet d'indiquer les différents indices de risque ainsi que de constituer l'équipe du poste et son matériel.</p>
</div>

<a name="onglet_facturation"><h2>Onglet Facturation</h2></a>
<div class="helper">
<p>Cet onglet gère toute la partie devis et facturation. Il est nécessaire de bien comprendre son fonctionnement pour générer les bons fichiers.</p>
</div>

<a name="onglet_statut"><h2>Onglet Statut</h2></a>
<div class="helper">
<p>Cet onglet permet de clore, d'annuler, ou de rouvrir un poste. Il permet aussi de prendre des notes sur les actions à faire ou les points particulier du poste.</p>
</div>

<a name="onglet_fichiers"><h2>Onglet Fichiers</h2></a>
<div class="helper">
<p>La seule action possible sur cet onglet est le téléchargement des fichiers liés au poste.</p>
<p>Les fichiers sont fournis au format Libre Office, suite d'applications bureautique libre et gratuite. Il est possible de la télécharger et l'installer sur les systèmes les plus communs <a href="https://fr.libreoffice.org/download/libreoffice-stable/">en cliquant ici</a>.</p>
<p>Une fois généré, le fichier doit être sauvé et converti en fichier PDF. Pour cela, une icône spécifique existe sur l'application Libre Office.</p>
<p><b>Attention à bien remplir les informations nécessaires pour que le fichier soit correctement généré !</b></p>
</div>

<a name="contact"><h2>Contact</h2></a>
<div class="helper">
<p>En cas de besoin, vous pouvez contacter les responsables de l'application à cette adresse : secours(at)mytipy(point)net.</p>
</div>

{% endblock %}
