{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
<form class="rc" method="POST" action="{{ url_for('user.login') }}">
<fieldset id="test">
    {{ g.form.hidden_tag() }}
    {{ render_field(g.form.login) }}<br />
    {{ render_field(g.form.password) }}
</fieldset>
<input type="submit" class="validation" value="Connexion" />
</form>
<script>
document.getElementById("login").focus();
</script>
{% endblock %}
