{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
<h1>Paramètres</h1>
<ul class="tabs">
    <a href="{{ url_for('user.profile') }}"><li class="tab">Unité Locale</li></a>
    <a href="{{ url_for('user.parameters') }}"><li class="tab">Paramètres</li></a>
</ul>
<form class="rc" action="{{ url_for('user.parameters') }}" method="POST">
    {{ g.form.hidden_tag() }}
    <fieldset id="authentification">
        <legend>Paramètres</legend>
        {{ render_field(g.form.lignes) }}
    </fieldset>
    <fieldset id="authentification">
        <legend>Authentification</legend>
        {{ render_field(g.form.password) }}
        <br />
        {{ render_field(g.form.password_confirmation) }}
    </fieldset>
    <input type="submit" class="validation" value="Enregistrer" />
</form>
{% endblock %}
