{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
<h1>Profil</h1>
<ul class="tabs">
    <a href="{{ url_for('user.profile') }}"><li class="tab">Unité Locale</li></a>
    <a href="{{ url_for('user.parameters') }}"><li class="tab">Paramètres</li></a>
</ul>
<form class="rc" action="{{ url_for('user.profile') }}" method="POST">
    {{ g.form.hidden_tag() }}
    <fieldset id="unite">
        <legend>Unité locale</legend>
        {{ render_field(g.form.code) }}
        {{ render_field(g.form.nom) }}
        <br />
        {{ render_field(g.form.adresse) }}
        <br />
        {{ render_field(g.form.code_postal) }}
        {{ render_field(g.form.ville) }}
        <br />
        {{ render_field(g.form.site_web) }}
    </fieldset>

    <fieldset id="responsables">
        <legend>Reponsables</legend>
        <label>Présidence : </label>
            {{ render_field(g.form.president_sexe) }}
            {{ render_field(g.form.president_prenom) }}
            {{ render_field(g.form.president_nom) }}
        <br />
        <label>DLUS : </label>
            {{ render_field(g.form.dlus_sexe) }}
            {{ render_field(g.form.dlus_prenom) }}
            {{ render_field(g.form.dlus_nom) }}
            {{ render_field(g.form.dlus_telephone) }}
        <br />
        <label>Action : </label>
            {{ render_field(g.form.action_prenom) }}
            {{ render_field(g.form.action_nom) }}
            {{ render_field(g.form.action_telephone) }}
            {{ render_field(g.form.action_mail) }}
        </fieldset>
    </fieldset>
    <input type="submit" class="validation" value="Enregistrer" />
</form>
{% endblock %}
