@import url("global.css");

/*
This file contains the unique styles needed for secours which do not appear in /css/goldilocks/global.css
---------------------------------------------------------------------------------------------------------
*/

/*
Colors 1 :
Imdur       : F6F6F6
blanc laine : E8E8E8
Grrris      : 333333
Schizo      : 990100
Disconnect  : B90504

Colors 2 :
Focal       : 940533
Publc       : C0012A
Burning     : F5061D
Orange      : FF8800
Smart       : FFB300
*/

body {
background: #fafafa;
color: #5e0000;
}

.rc {
margin-bottom: 0.3em;
}

.pagination {
float: right;
}

.rc form-control {
display: block;
color: inherit;
}

.rc label {
display: inline-block;
min-width: 9em;
}

.rc fieldset {
border: 1px solid #f5061d;
border-radius: 4px;
padding: 0.4em 1em;
margin-bottom: 0.4em;
}

.rc legend {
padding: 0 .8em;
}

.rc input, .rc textarea, .rc button, .rc select {
border: 1px solid #fc7979;
border-radius: 3px;
font-size:.9em;
padding: 0 .4em;
}

.rc input.number {
width: 3em;
}

.rc input[type="radio"] {
vertical-align: middle;
}

.rc textarea {
vertical-align: top;
}

.rc select, .rc button, .rc input[type="submit"] {
background: #fcc9c9;
}

.rc button, .rc input[type="submit"] {
padding: .2em .8em;
}

ul.tabs {
margin: 0;
max-width: 100%;
}

li.tab {
display: inline-block;
border: 2px solid #5e0000;
border-radius: 5px;
padding: 0.1em 0.3em;
color: #fafafa;
background-color: #fc7979;
font-weight: bold;
font-size:.9em;
}

fieldset #public, fieldset #acteur, fieldset #effectif, fieldset #materiel, fieldset #paps, fieldset #dps {
display: inline-block;
min-width: 40%;
}

fieldset #paps {
min-width: 20%;
}

a, a:visited {
color: #5e0000;
}

table {
width: 100%;
border-top: 1px solid #fc7979;
border-left: 1px solid #fc7979;
}

th {
border-right: 1px solid #fc7979;
border-bottom: 1px solid #fc7979;
color: #fafafa;
background-color: #5e0000;
font-weight: bold;
}

td {
border-right: 1px solid #fc7979;
border-bottom: 1px solid #fc7979;
padding: 0em 0.6em;
}

h1 {
font-size: 20pt;
font-weight: bold;
margin-bottom: 0px;
}

h1 .date {
font-size: 12pt;
font-style: italic;
}

h2 {
font-size: 16pt;
font-weight: bold;
margin-top: 1em;
margin-bottom: 0.3em;
}

h3 {
font-size: 14pt;
font-weight: bold;
margin-top: 1em;
margin-bottom: 0.3em;
}

#table_des_matieres {
position:fixed;
top:1em;
right:1em;
font-size: 90%;
}

.helper {
background: #eae0e0;
margin-bottom: 2em;
padding: .3em;
max-width: 30em;
border-radius: 6px;
}

