{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
<h1>{% if g.poste %}{{ g.poste.nom }} - <span class="date">{{ g.poste.date }}</span>{% else %} - {% endif %}</h1>
<ul class="tabs">
    <li class="tab" onclick="show_tab('manifestation')">Manifestation</li>
    <li class="tab" onclick="show_tab('organisateur')">Organisateur</li>
    <li class="tab" onclick="show_tab('dimensionnement')">Dimensionnement</li>
    <li class="tab" onclick="show_tab('affectations')">Affectations</li>
    <li class="tab" onclick="show_tab('facturation')">Facturation</li>
    <li class="tab" onclick="show_tab('statuts')">Statut</li>
    {% if not current_user.visitor %}<li class="tab" onclick="show_tab('fichiers')">Fichiers</li>{% endif %}
</ul>
<form class="rc" action="{{ url_for('poste.edit', poste_id=g.poste_id) }}" method="POST">
    {{ g.form.hidden_tag() }}
    <input type="hidden" name="tab_id" id="tab_id" value="{{g.tab}}" />
    <input type="hidden" name="command" id="command" value="" />
    <fieldset id="manifestation">
        <legend>Manifestation</legend>
        {{ render_field(g.form.nom) }}
        <br />
        à {{ render_field(g.form.ville) }} le {{ render_field(g.form.date) }}
        <br />
        Du {{ render_field(g.form.date_debut) }}
        à {{ render_field(g.form.heure_debut) }}
        <br />
        Au {{ render_field(g.form.date_fin) }}
        à {{ render_field(g.form.heure_fin) }}
        <br />
        {{ render_field(g.form.adresse_depart) }}
        <br />
        {{ render_field(g.form.adresse_arrivee) }}
        <br />
        {{ render_field(g.form.activites) }}
    </fieldset>

    <fieldset id="organisateur">
        <legend>Organisateur</legend>
        {{ render_field(g.form.organisateur_type) }}
        {{ render_field(g.form.organisateur_nom) }}
        <br />
        {{ render_field(g.form.organisateur_adresse) }}
        <br />
        {{ render_field(g.form.organisateur_denomination) }}
        <br />
        <fieldset id="representant">
            <legend>Contact</legend>
            {{ render_field(g.form.contact_sexe) }}
            {{ render_field(g.form.contact_prenom) }}
            {{ render_field(g.form.contact_nom) }}
            en qualité de {{ render_field(g.form.contact_fonction) }}
            {{ render_field(g.form.contact_telephone) }}
        </fieldset>
        <fieldset id="representant">
            <legend>Représentant</legend>
            {{ render_field(g.form.representant_sexe) }}
            {{ render_field(g.form.representant_prenom) }}
            {{ render_field(g.form.representant_nom) }}
            en qualité de {{ render_field(g.form.representant_fonction) }}
        </fieldset>
    </fieldset>

    <fieldset id="dimensionnement">
        <legend>Dimensionnement</legend>
        Indice I {{ render_field(g.form.dimensionnement_indice) }}
        Indice RIS {{ render_field(g.form.dimensionnement_ris) }}
        <br />
        <fieldset id="public">
            <legend>Public</legend>
            {{ render_field(g.form.dimensionnement_public_1) }}<br />
            {{ render_field(g.form.dimensionnement_public_2) }}<br />
            {{ render_field(g.form.dimensionnement_public_3) }}<br />
            {{ render_field(g.form.dimensionnement_public_4) }}
        </fieldset>
        <fieldset id="acteur">
            <legend>Acteur</legend>
            {{ render_field(g.form.dimensionnement_acteur_1) }}<br />
            {{ render_field(g.form.dimensionnement_acteur_2) }}<br />
            {{ render_field(g.form.dimensionnement_acteur_3) }}<br />
            {{ render_field(g.form.dimensionnement_acteur_4) }}
        </fieldset>
        <fieldset id="effectif">
            <legend>Effectif</legend>
            {{ render_field(g.form.dimensionnement_effectif_1) }}<br />
            {{ render_field(g.form.dimensionnement_effectif_2) }}<br />
            {{ render_field(g.form.dimensionnement_effectif_3) }}<br />
            {{ render_field(g.form.dimensionnement_effectif_4) }}
        </fieldset>
        <fieldset id="materiel">
            <legend>Matériel</legend>
            {{ render_field(g.form.dimensionnement_materiel_1) }}<br />
            {{ render_field(g.form.dimensionnement_materiel_2) }}<br />
            {{ render_field(g.form.dimensionnement_materiel_3) }}<br />
            {{ render_field(g.form.dimensionnement_materiel_4) }}<br />
            {{ render_field(g.form.dimensionnement_materiel_5) }}
        </fieldset>
    </fieldset>

    <fieldset id="affectations">
        <legend>Affectations</legend>
        <input type="button" class="validation" onclick="add_affectation()" value="Ajouter une affectation" />
        <br />
        <table>
            <tr>
                <th>Nom</th>
                <th>NIVOL</th>
                <th>Qualification</th>
                <th>UL</th>
            </tr>
            <tbody id="body_affectations">
            {% for affectation in g.form.affectations %}
            {{ affectation.hidden_tag() }}
            <tr>
                <td>{{ render_field(affectation.nom) }}</td>
                <td>{{ render_field(affectation.nivol) }}</td>
                <td>{{ render_field(affectation.qualification) }}</td>
                <td>{{ render_field(affectation.ul) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <i>Les affectations apparaissent dans cet ordre sur l'ordre de mission. La première personne est considérée comme Responsable de poste.</i>
        <br />
        <i>Pour supprimer une affectation en trop, il suffit de vider ses champs et d'enregistrer le poste.</i>
    </fieldset>

    <fieldset id="facturation">
        <legend>Facture</legend>
        {{ render_field(g.form.facturation_type) }}
        {{ render_field(g.form.facturation_nom) }}
        <br />Adresse :<br />
        {{ render_field(g.form.facturation_adresse_1) }}
        <br />
        {{ render_field(g.form.facturation_adresse_2) }}
        <br />
        {{ render_field(g.form.facturation_code_postal) }}
        {{ render_field(g.form.facturation_ville) }}
        <br />
        {{ render_field(g.form.facturation_reference) }}
        {{ render_field(g.form.facturation_reference_crf) }} S-AAAA-UL-numéro
        <br />
        {{ render_field(g.form.facturation_agrement) }}
        {{ render_field(g.form.facturation_dossier) }} UL/AAAA/MM/JJ/numéro
        <br />
        {{ render_field(g.form.facturation_remise) }}
        {{ render_field(g.form.facturation_montant) }}
        <br />
        <fieldset id="paps">
            <legend>Paps</legend>
            Binômes {{ render_field(g.form.paps_quantite) }}
        </fieldset>
        <fieldset id="dps">
            <legend>Dps</legend>
            Postes + Inter. {{ render_field(g.form.dps_quantite) }}
            Binômes {{ render_field(g.form.binome_quantite) }}
            Évacuation {{ render_field(g.form.evac_quantite) }}
        </fieldset>
    </fieldset>

    <fieldset id="statuts">
        <legend>Statut du poste</legend>
        Statut actuel : <b>{{ g.poste.statut }}</b>
        <br />
        Notes : {{ render_field(g.form.notes) }}
        {% if g.poste.id %}
        {% if not current_user.visitor %}
            <br />
            {% if g.poste.statut=="fermé" or g.poste.statut=="annulé" %}
            <a href="javascript:set_status('ouvert')" class="validation">Rouvrir le poste</a>
            <a href="{{ url_for('poste.delete', poste_id=g.poste.id) }}" class="validation">Supprimer le poste</a>
            {% else %}
            <a href="javascript:set_status('fermé')" class="validation">Clore le poste</a>
            <a href="javascript:set_status('annulé')" class="validation">Annuler le poste</a>
            {% endif %}
        {% endif %}
        {% endif %}
    </fieldset>

    <fieldset id="fichiers">
        <legend>Fichiers</legend>
        {% if g.poste.id %}
        <a href="{{ url_for('file.download', model='devis', poste_id=g.poste.id) }}" class="validation">2. Devis</a>
        <br />
        <a href="{{ url_for('file.download', model='convention', poste_id=g.poste.id) }}" class="validation">3. Convention</a>
        <br />
        <a href="{{ url_for('file.download', model='page de garde', poste_id=g.poste.id) }}" class="validation">4. Page de garde</a>
        <br />
        <a href="{{ url_for('file.download', model='ordre de mission', poste_id=g.poste.id) }}" class="validation">5. Ordre de mission</a>
        <br />
        <a href="{{ url_for('file.download', model='main courante', poste_id=g.poste.id) }}" class="validation">7. Main courante</a>
        <br />
        <a href="{{ url_for('file.download', model='rapport de mission', poste_id=g.poste.id) }}" class="validation">11. Rapport de mission</a>
        <br />
        <a href="{{ url_for('file.download', model='facture', poste_id=g.poste.id) }}" class="validation">12. Facture</a>
        {% else %}
        Merci de sauver le poste pour pouvoir éditer un fichier.
        {% endif %}
    </fieldset>

    {% if not current_user.visitor %}<input type="submit" class="validation" value="Enregistrer" />{% endif %}
</form>

<script type="text/javascript">
function show_tab(id) {
    document.forms[0].tab.value = id;
    $("form>fieldset").hide();
    $("#"+id).show();
    document.forms[0].tab_id.value = id;
}
show_tab(document.forms[0].tab.value || document.forms[0].tab_id.value);

function set_status(status) {
    document.forms[0].statut.value = status;
    document.forms[0].submit();
}

$(function(){
    // Ajout des calendriers pour les champs date
    $("#date").datepicker({dateFormat: "dd MM yy"});
    $("#date_debut").datepicker({dateFormat: "dd MM yy"});
    $("#date_fin").datepicker({dateFormat: "dd MM yy"});

    // Ajout des timers pour les champs horaire
    $('#heure_debut').timepicker({'timeFormat':'H\\hi', 'step':30});
    $('#heure_fin').timepicker({'timeFormat':'H\\hi', 'step':30});

    // Si je rentre un nom d'organisateur et que je n'ai pas de dénomination, je copie la valeur
    $('#nom').change(function(){
        if ($('#organisateur_nom').val()=='') {
            $('#organisateur_nom').val($('#nom').val());
        }
    });
});

var searching = null;
function searching_secouriste() {
    clearTimeout(searching);
    searching = setTimeout(search_secouriste, 500);
}

function search_secouriste() {
    var url = "/utilisateur/" + encodeURI(document.getElementById("secouriste").value);

    $.get(url, function(data){
        console.log(data);
    });
}

function add_affectation() {
    document.forms[0].command.value = "add_affectation";
    document.forms[0].submit();
}
</script>
{% endblock %}
