{% extends 'base.html' %}
{% block content %}

{% include "poste/pagination.html" %}
<form class="rc" method="post">
<input type="hidden" name="order" id="order" value="{{ session.order }}" />
<input type="hidden" name="sorting" id="sorting" value="{{ session.sorting }}" />
<input type="text" name="filter" id="filter" value="{{ session.filter }}" />
<input type="submit" class="validation" value="Filtrer" />
<select name="status" id="status" onchange="document.forms[0].submit()">
    <option value="ouvert">Ouverts</option>
    <option value="" {% if session.status=="" %}selected{% endif %}>Tous</option>
    <option value="fermé" {% if session.status=="fermé" %}selected{% endif %}>Fermés</option>
    <option value="annulé" {% if session.status=="annulé" %}selected{% endif %}>Annulés</option>
</select>
{% if current_user.admin %}
<select name="ul_id" id="ul_id" onchange="document.forms[0].submit()">
    <option value="">Toutes les ULs</option>
    {% for ul in g.uls %}
    <option value="{{ ul.id }}" {% if session.ul_id==ul.id %}selected{% endif %}>{{ ul.code }}</option>
    {% endfor %}
</select>
{% endif %}
</form>

<table cellspacing="0" cellpadding="0">
<tr>
    {% if current_user.admin %}<th onclick="sort('ul_id');">UL</th>{% endif %}
    <th onclick="sort('nom');">Poste</th>
    <th onclick="sort('organisateur_nom');">Organisateur</th>
    <th onclick="sort('ville');">Ville</th>
    <th onclick="sort('timestamp');">Date</th>
    <th onclick="sort('statut');">Statut</th>
    {% if not session.visitor %}
    <th>Actions</th>
    {% endif %}
</tr>
{% for poste in g.postes %}
<tr>
    {% if current_user.admin %}<td>{{ poste.ul.code }}</td>{% endif %}
    <td><a href="{{ url_for('poste.edit', poste_id=poste.id) }}">{% if poste.nom=="" %}-pas de nom-{% else %}{{ poste.nom }}{% endif %}</a></td>
    <td>{{ poste.organisateur_nom }}</td>
    <td>{{ poste.ville }}</td>
    <td>{{ poste.date }}</td>
    <td>{{ poste.statut }}</td>
    {% if not current_user.visitor %}
    <td>
        <a href="{{ url_for('poste.duplicate', poste_id=poste.id) }}">Dupliquer</a>
    </td>
    {% endif %}
</tr>
{% endfor %}
</table>

{% include "poste/pagination.html" %}

<script type="text/javascript">
function sort(id) {
    document.forms[0].sorting.value = 1 - document.forms[0].sorting.value;
    document.forms[0].order.value = id;
    document.forms[0].submit();
}
</script>
{% endblock %}
