{% extends 'admin/master.html' %}
{% block body %}
<section class="row">
    <section class="col-12">
        <a href="/">Back to website</a>
        {% if not current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('admin.login') }}">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.login.label }} {{ form.login(size=60) }}
        <br />
        {{ form.password.label }} {{ form.password(size=60) }}
        <br />
        <input type="submit" class="btn btn-success" value="Connect" />
        </form>
        {% endif %}
    </section>
</section>
{% endblock %}
